
		/* sets a fixed height on the book images */
		.col-4 img { max-height: 300px; width: auto }

		/* sets a specal fixed height for tablet screens */
		@media(min-width:786px) and (max-width: 1024px) {
			.col-4 img { max-height: 200px; width: auto }
		}
		
		/* Amazon-style buttons */
		.section-selector-1 a.btn:link,
		.section-selector-1 a.btn:visited { background-color: var(--yellow-400) }

		.section-selector-1 a.btn:link,
		.section-selector-1 a.btn:visited { color: var(--blue-800) }

		.section-selector-1 a.btn:link,
		.section-selector-1 a.btn:visited { border-color: var(--yellow-400) }

		.section-selector-1 a.btn:focus,
		.section-selector-1 a.btn:hover,
		.section-selector-1 a.btn:active { background-color: var(--yellow-500) }

		.section-selector-1 a.btn:focus,
		.section-selector-1 a.btn:hover,
		.section-selector-1 a.btn:active { border-color: var(--yellow-500) }

